<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bookmark Manager</h1>
    <h2>Click link below to view your bookmarks</h2>
    <a href="/bookmarks">Bookmarks</a>
  </body>
</html>
