<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <div>
          <li> <a href=" <%=bookmark.url%> "> <%=bookmark.title%></a></li>
          <form action="/bookmarks" method="POST">
            <input type="hidden" name="id" value="<%=bookmark.id%>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
          </form>
          <form action="/bookmarks" method="POST">
            <input type="hidden" name="_method" value="PATCH"/>
            <input type="text" name="url"/>
            <input type="text" name="title"/>
            <input type="submit" value="Update">
          </form>
        </div>
      <% end %>
    </ul>
    <form action="/new-bookmark" method="GET">
      <input type="submit" name="Add" value="Add">
    </form>
  </body>
</html>
