<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/bookmarks" method="POST">
      <input type="text" name="url">
      <input type="submit" name="Save" value="Save">
    </form>
  </body>
</html>